.skills{
  text-align: justify;
  height: 90vh;
  color: #ffffff;
  padding: 0 80px;
  display: flex;
  flex-direction: column; 
  justify-content: center; 
}

.skills>h1{
  text-align: center;
}