.linkedin-container a,
.github-container a,
.instagram-container a {
  padding: 5px 0;
  text-decoration: none;
}

.linkedin-container img:hover,
.github-container img:hover,
.instagram-container img:hover {
  border: #ffffff 1px solid;
  border-radius: 10px;
}

.socialMedias {
  display: flex;
  justify-content: flex-end;
  align-items: end;
  height: 100vh;
  width: 100vw;

  /* position: fixed; */
  position: fixed;
  z-index: 5; /* Valor menor do que o da navbar */

  padding: 0 50px 80px 0;
}

.linkedin-container img,
.github-container img,
.instagram-container img {
  width: 40px;
  height: 40px;
}

@media (max-width: 780px) {
  .socialMedia {
    background-color: rgb(88, 88, 88);
  }
  .linkedin-container a,
  .github-container a,
  .instagram-container a {
    padding: 10px 0;
  }
  .linkedin-container img,
  .github-container img,
  .instagram-container img {
    display: none;
  }
}
